body{
    margin: 0;
    height: 100vh;
    position: relative;
}

.quadrado{
    width: 100px;
    height: 100px;
    position: absolute;
}

.q1{
    background-color: red;
    top: 0;
    left: 0;
}

.q2{
    background-color: blue;
    top: 0;
    right: 0;
}

.q3{
    background-color: green;
    bottom: 0;
    left: 0;
}

.q4{
    background-color: yellow;
    bottom: 0;
    right: 0;
}
.cima-centro{
    background-color: orange;
    top: 20px;
    left: calc(50% - 50px);
}

.baixo-centro{
    background-color: pink;
    bottom: 20px;
    left: calc(50% - 50px);
}

.centro{
    background-color: purple;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}