body{
    margin: 0;
}

.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topo,
.baixo{
    display: flex;
    justify-content: space-between;
}

.meio{
    display: flex;
    justify-content: center;
}

.quadrado{
    width: 100px;
    height: 100px;
}
.q1{
    background-color: red;
}
.q2{
    background-color: green;
}
.q3{
    background-color: blue;
}
.q4{
    background-color: yellow;
}

.meio-baixo{
    background-color: orange;
}
.meio-topo{
    background-color: purple;
}
.centro{
    background-color: pink;
}   